@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');
*{ /* Reseta a página */
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
nav{
    background-color: #000916;
    border-bottom: 1px solid rgba(121, 179, 255, 0.479); ;
    z-index: 3;
}

.logo{
    background: url("../img/logoCypher.png");
    width: auto;
    background-repeat: no-repeat;
    height: 58px;
}
.intro{
    background: url("../img/background_home.png");
    background-color: #000916;
    background-size: cover;
}
.content{
    padding-top: 72px;
    margin-left: 5%;
}
.title{
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    color: #fff;
    width: 50%;
    font-size: 40vh;
}
.blue{
    color: #3B93FF;
    font-family: "Raleway", sans-serif;
    font-weight: 700;
}
button{
    height:47px;
    width: 16vw;
    background: linear-gradient(312deg, rgba(35,116,225,1) 0%, rgba(206,227,255,1) 100%);
    color:#050835 ; 
    font-size: 16px; 
    border: none;
    cursor: pointer;
    border-radius: 50px; 
    font-family: "Raleway", sans-serif;
    font-weight: 700;
}

@media only screen and (min-width: 601px) {
    .title{
        width: 50%;
        font-size: 4vh;
    }
}

@media only screen and (min-width: 1025px) {
    .wave{
        background-image: url("../img/waves.png");
        background-repeat: no-repeat;
        position: relative;
        margin-top: -400px;
        margin-left: 22%;
        height: 680px;
        width: auto;
    }
    .title{
        font-size: 6vh;
        width: 40vw;
    }
    .content{
        padding-top: 160px;
        margin-left: 15%;
    }
    
} 