@import url('https://fonts.googleapis.com/css2?family=Livvic:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

* {
    /* Reseta a página */
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: #fff;
    font-family: "Livvic", sans-serif;
}

nav {
    background-color: #000916;
    border-bottom: 1px solid rgba(121, 179, 255, 0.479);
    ;
    z-index: 3;
}

main {
    background-color: #000916;
}

.logo {
    background: url("../img/logoCypher.png");
    width: auto;
    background-repeat: no-repeat;
    height: 58px;
}

.intro {
    background: url("../img/background_home.png");
    background-color: #000916;
    background-size: cover;
    width: 100%;
    height: 585px;
}

.content-title {
    padding-top: 72px;
    margin: 0 5%;
}

.title {
    font-weight: 700;
    font-size: 5vh;
    width: 100%;
    font-family: "Raleway", sans-serif;
}

.blue {
    color: #3B93FF;
}

button {
    height: 34px;
    width: 40vw;
    background: linear-gradient(352deg, rgba(35, 116, 225, 1) 0%, rgba(206, 227, 255, 1) 100%);
    font-size: 16px;
    border: none;
    cursor: pointer;
    border-radius: 50px;
    font-weight: 700;
    font-family: "Raleway", sans-serif;
}

.black {
    color: #000916;
}

.content-wave {
    position: absolute;
    display: flex;
    justify-content: start;
    width: 100%;
    top: 30%;
}

.wave {
    width: 500px;
    background-image: url("../img/waves-cllr.png");
    background-repeat: no-repeat;
    height: 320px;
}

/* cards metodos*/
.padraomudar {
    margin: 0 7%;
    background-color: #000916;
}

.content-cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.card {
    width: 40%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 241px;
    margin: 0 4%;
}

.title-card {
    font-size: 24px;
    font-weight: 900;
    margin-top: 10px;
}

.text-card {
    font-size: 14px;
    font-weight: 600;
    text-align: center;
    margin-top: 10px;
}

hr {
    width: 100%;
    height: 80px;
    border-top: 1px solid rgb(35, 116, 225, 0.4);
    border-bottom: 1px solid rgb(35, 116, 225, 0.4);
    border-left: 1px;
    border-right: 1px;
    background: linear-gradient(90deg, rgba(35, 116, 225, 0.5) 0%, rgba(255, 255, 255, 0) 30%);
}

@media only screen and (min-width: 688px) and (max-width: 1025px) {
    .intro {
        height: 400px;
        background-image: url("../img/desktop_home.png");
    }

    .title {
        font-size: 300%;
        width: 60%;
    }

    button {
        height: 47px;
        width: 160px;
    }

    .content-wave {
        position: absolute;
        display: flex;
        justify-content: end;
        width: 100%;
        top: 60px;
    }

    .wave {
        width: 500px;
        background-image: url("../img/waves-cllr.png");
        background-repeat: no-repeat;
        height: 400px;
    }

    /* cards metodos*/
    .padraomudar {
        margin: 30px 5%;
    }

    .card {
        width: 20%;
        margin: 0 2%;
    }

    .title-card {
        margin-top: 15px;
    }

    .text-card {
        margin-top: 15px;
    }
}

@media only screen and (min-width: 1025px) {
    .intro {
        height: 740px;
        background-image: url("../img/desktop_home.png");
    }

    .title {
        font-size: 6vh;
        width: 42vw;
    }

    .content-wave {
        position: absolute;
        display: flex;
        padding-right: 10%;
        justify-content: end;
        width: 100%;
        top: 20px;
    }

    .wave {
        width: 1124px;
        background-image: url("../img/waves.png");
        background-repeat: no-repeat;
        height: 677px;
    }

    .content-title {
        padding-top: 160px;
        margin-left: 15%;
    }

    button {
        height: 47px;
        width: 15%;
    }

    .padraomudar {
        margin: 0 15%;
    }

    /* cards metodos*/
    .card {
        width: 12%;
        margin: 0 5% 5%;
    }

    .title-card {
        margin-top: 15px;
    }

    .text-card {
        margin-top: 15px;
    }
}